*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
}
/*MOBILE HEADER*/
header {
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

#logo {
  width: 160px;
}

/*MOBILE MAIN SEARCH*/
#main-search {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 10px auto;
  height: 55px;
  max-width: 380px;
}

#main-input {
  background-color: #e6e6e6;
}

#main-search-btn {
  height: 55px;
  width: 55px;
  background-color: #e6e6e6;
}

#main-search-btn:hover {
  background-color: #67d8a4;
  color: white;
}

#main-search-btn svg {
  width: 25px;
  height: 25px;
}

/*MOBILE SECONDARY SEARCH*/

#secondary-search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#ingredients-search,
#equipment-search,
#ustensils-search {
  margin: 10px auto;
  height: 55px;
  width: 80%;
  max-width: 380px;
}

#ingredients-search input,
#equipment-search input,
#ustensils-search input {
  width: 70%;
}

#ingredients-search input:focus,
#equipment-search input:focus,
#ustenils-search input:focus {
  outline: none;
}

#ingredients-search input::placeholder,
#equipment-search input::placeholder,
#ustensils-search input::placeholder {
  color: white;
}

.s-search-btn {
  width: 30%;
  border: none;
}

.s-search-btn svg {
  width: 20px;
  height: 20px;
}

.rotate{
  transform: rotate(180deg);
}

#equipment-search input,
#equipment-search button {
  background-color: #67d8a4;
}

#ustensils-search input,
#ustensils-search button {
  background-color: #ec6354;
}

#ingredients-list {
  width: 250px;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 1;
  display: none;
}

#ingredients-list li:hover {
  color: blue;
}

/*RECIPES*/
#recipes-container {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-box {
  width: 100%;
  max-width: 380px;
  height: 364px;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.recipe-picture {
  width: 100%;
  max-width: 380px;
  height: 180px;
  background-color: #c7bebe;
}

.recipe-content {
  height: 180px;
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
}

.recipe-content header {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.recipe-name {
  width: 70%;
  text-align: left;
  padding: 20px 0 0 15px;
}

.time-box {
  width: 30%;
  padding: 10px 0 0 0;
  text-align: center;
}

.time-box svg {
  width: 25px;
  height: 25px;
  fill: #e6e6e6;
  background-color: black;
  padding: 2px;
  border-radius: 13px;
}

.recipe {
  display: flex;
  padding: 5px 15px;
}

.list-ingredients {
  width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-ingredients ul {
  list-style: none;
  padding: 0;
}

.item {
  font-size: 11px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.instructions {
  margin-left: 5px;
  width: 170px;
  height: 106px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

/* SMALL TABLET VERSION */
@media only screen and (min-width: 478px) {
  .recipe-box {
    height: 364px;
    margin: auto;
  }
}

/* BIG TABLET VERSION */
@media only screen and (min-width: 600px) {
  #main-search {
    max-width: none;
  }

  #secondary-search {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
  }

  #ingredients-search,
  #equipment-search,
  #ustensils-search {
    width: 140px;
    max-width: 100%;
    margin: 0 10px 0 0;
  }

  #equipment-search,
  #ustensils-search {
    margin: 0 10px;
  }
}

@media only screen and (min-width: 800px) {
  #recipes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .recipe-box {
    padding: 10px 5px;
    margin: 0;
  }
}
