*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.src-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip-path: content-box;
  white-space: nowrap;
  border: 0;
}

body {
  width: 100%;
  position: relative;
}

/*MOBILE HEADER*/
header {
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

#logo {
  width: 160px;
}

.noResultMessage {
  width: 100%;
  max-width: 450px;
  height: fit-content;
  padding: 10px 0;
}

/*RECIPES*/
#recipes-container {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-box {
  width: 100%;
  max-width: 380px;
  height: 364px;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  cursor: pointer;
}

.recipe-box:hover {
  transform: scale(1.02);
}

.recipe-box:hover > .recipe-picture {
  background-color: #997474;
}

.recipe-picture {
  width: 100%;
  max-width: 380px;
  height: 180px;
  background-color: #c7bebe;
}

.recipe-content {
  height: 180px;
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
}

.recipe-content header {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.recipe-name {
  width: 70%;
  text-align: left;
  padding: 20px 0 0 15px;
}

.time-box {
  width: 30%;
  padding: 10px 0 0 0;
  text-align: center;
}

.time-box svg {
  width: 25px;
  height: 25px;
  fill: #e6e6e6;
  background-color: black;
  padding: 2px;
  border-radius: 13px;
}

.recipe {
  display: flex;
  padding: 5px 15px;
}

.list-ingredients {
  width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-ingredients ul {
  list-style: none;
  padding: 0;
}

.item {
  font-size: 11px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.instructions {
  margin-left: 5px;
  width: 170px;
  height: 106px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: scroll;
}

/* SMALL TABLET VERSION */
@media only screen and (min-width: 478px) {
  .recipe-box {
    height: 364px;
    margin: auto;
  }
}

@media only screen and (min-width: 950px) {
  #recipes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .recipe-box {
    padding: 10px 5px;
    margin: 0;
  }
}
