/*MOBILE MAIN SEARCH*/
#main-search-section {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 10px auto;
  height: 55px;
  max-width: 380px;
}

#main-input {
  background-color: #e6e6e6;
}

#main-input:focus + #main-search-btn {
  color: #67d8a4;
  background-color: #e2e3e5;
}
#main-input:focus {
  background-color: #e2e3e5;
}

#main-input:focus::placeholder {
  color: transparent;
}

#main-input:placeholder-shown {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-search-btn {
  height: 55px;
  width: 55px;
  background-color: #e6e6e6;
}

#main-search-btn:hover {
  background-color: #67d8a4;
  color: white;
}

#main-search-btn svg {
  width: 25px;
  height: 25px;
}

/*MOBILE SECONDARY SEARCH*/
#secondary-search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#ingredients-search,
#equipments-search,
#ustensils-search {
  margin: 10px auto;
  width: 80%;
  max-width: 380px;
}

#secondary-search-section input {
  width: 70%;
  border-radius: 5px 0 0px 5px;
}

#secondary-search-section input:focus + .s-search-btn {
  outline: none;
}

#secondary-search-section input::placeholder {
  color: white;
}

#secondary-search-section input:focus::placeholder {
  color: transparent;
}

.s-search-btn {
  width: 30%;
  border: none;
}

.s-search-btn svg {
  width: 20px;
  height: 20px;
}

.up {
  transform: rotate(180deg);
}

.down {
  transform: rotate(0deg);
}

#ingredients-search input,
#ingredients-search button {
  background-color: #0d6efd !important;
}
#equipments-search input,
#equipments-search button {
  background-color: #67d8a4 !important;
}

#ustensils-search input,
#ustensils-search button {
  background-color: #ec6354;
}

/*NAVS LISTS OF INPUTS*/
.navs {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 80%;
  max-width: 380px;
  margin: 0px auto;
  position: absolute;
}

#ingredients-nav,
#equipments-nav,
#ustensils-nav {
  width: 80%;
  max-width: 380px;
  position: absolute;
  z-index: 3;
  top: 43px;
  left: 1px;
  border-radius: 5px;
}

#equipments-nav {
  background-color: #67d8a4 !important;
}

#ustensils-nav {
  background-color: #ec6354 !important;
}

#ingredients-nav ul,
#equipments-nav ul,
#ustensils-nav ul {
  display: none;
  padding: 0 12px;
  margin: 0;
  max-height: 60vh;
  overflow: scroll;
}

#ingredients-nav ul li,
#equipments-nav ul li,
#ustensils-nav ul li {
  width: 99%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: white;
  line-height: 1.6;
}

#ingredients-nav li:hover,
#equipments-nav li:hover,
#ustensils-nav li:hover {
  color: #b6babe;
  cursor: pointer;
}

/*BADGES*/
#badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  height: fit-content;
  margin: 10px auto;
}

#badges span {
  margin: 5px;
  padding: 7px 10px;
  background-color: #0d6efc;
  font-size: 0.9rem;
  font-weight: 400;
  cursor: pointer;
  color: white;
}

#badges .ingredients {
  background-color: #0d6efc;
}
#badges .equipments {
  background-color: #ec6354;
}
#badges .ustensils {
  background-color: #67d8a4;
}

#badges span svg {
  width: 18px;
  height: 18px;
  background-color: white;
  padding: 1px;
  border-radius: 25px;
  margin: 0 2px 0 4px;
}

path.ingredients {
  fill: #0d6efc;
}
path.equipments {
  fill: #ec6354;
}
path.ustensils {
  fill: #67d8a4;
}

#badges span:hover > svg path.deleteSvg {
  fill: #b6babe;
}

#badges span:hover {
  background-color: #b6babe;
  color: white;
}

/* BIG TABLET VERSION */
@media only screen and (min-width: 600px) {
  #main-search-section {
    max-width: none;
  }

  #secondary-search-section {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 80%;
    margin: 0 auto;
  }

  #ingredients-search,
  #equipments-search,
  #ustensils-search {
    max-width: 380px;
    width: 100%;
    margin: 0 10px 0 0;
  }

  #ingredients-search,
  #equipments-search,
  #ustensils-search {
    margin: 0 10px;
  }

  .navs #ingredients-nav,
  .navs #equipments-nav {
    width: 400px;
    max-width: none;
    top: 45px;
  }

  .navs #equipments-nav {
    left: -100px;
  }

  .navs #ustensils-nav {
    width: 250px;
    transform: translateX(-60px);
  }

  .navs #ingredients-nav ul,
  .navs #equipments-nav ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 950px) {
  #ingredients-search,
  #equipments-search,
  #ustensils-search {
    width: 170px;
    margin: 0 20px 0 0;
  }

  .navs #ingredients-nav {
    width: 550px;
  }

  .navs #ingredients-nav ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
