/*MOBILE MAIN SEARCH*/
#main-search-section {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 10px auto;
  height: 55px;
  max-width: 580px;
}

#main-input {
  background-color: #e6e6e6;
}

#main-input:focus + #main-search-btn {
  color: #67d8a4;
  background-color: #e2e3e5;
}
#main-input:focus {
  background-color: #e2e3e5;
}

#main-input:focus::placeholder {
  color: transparent;
}

#main-input:placeholder-shown {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-search-btn {
  height: 55px;
  width: 55px;
  background-color: #e6e6e6;
}

#main-search-btn:hover {
  background-color: #67d8a4;
  color: white;
}

#main-search-btn svg {
  width: 25px;
  height: 25px;
}

/*MOBILE SECONDARY SEARCH*/
#secondary-search-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#secondary-search-section .input-group {
  width: 80%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px auto;
}

.inputAndButton {
  display: flex;
  width: 60%;
  max-width: 380px;
}

.inputAndButtonExtended {
  width: 100%;
  max-width: 350px;
}

.inputBottomRadiusRemoval {
  border-bottom-left-radius: 0 !important;
}

.buttonBottomRadiusRemoval {
  border-bottom-right-radius: 0 !important;
}

.inputAndButton:focus {
  outline: none;
}

.inputAndButton button:focus {
  outline-style: solid;
}

.inputAndButton input {
  width: 75%;
  outline: none;
  min-width: 100px;
  border-radius: 3px 0 0 3px;
}

.s-search-btn {
  width: 25%;
  border: none;
  border-radius: 0 3px 3px 0;
}

.s-search-btn svg {
  width: 40px;
  height: 20px;
}

#secondary-search-section input::placeholder {
  color: white;
}

#secondary-search-section #input-ingredients:focus::placeholder {
  color: #9ec5fe;
}
#secondary-search-section #input-equipments:focus::placeholder {
  color: #e1f7ed;
}
#secondary-search-section #input-ustensils:focus::placeholder {
  color: #f7c1bb;
}

.up {
  transform: rotate(180deg);
}

.down {
  transform: rotate(0deg);
}

#ingredients-search input,
#ingredients-search button {
  background-color: #0d6efd !important;
}
#equipments-search input,
#equipments-search button {
  background-color: #67d8a4 !important;
}

#ustensils-search input,
#ustensils-search button {
  background-color: #ec6354;
}

/*NAVS LISTS OF INPUTS*/
.navs {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 60%;
}

.navs nav {
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 50px;
  left: 1px;
  border-radius: 5px;
}

.navExtended {
  width: 100%;
  max-width: 350px;
  max-height: 400px;
}

.listExtended {
  border-radius: 0px 0px 3px 3px !important;
}

#equipments-nav {
  background-color: #67d8a4 !important;
}

#ustensils-nav {
  background-color: #ec6354 !important;
}

.navs nav ul {
  display: none;
  padding: 0 12px;
  margin: 0;
  max-height: 60vh;
  overflow: scroll;
}

.navs nav ul li {
  width: 99%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: white;
  line-height: 1.6;
}

.navs nav ul li:hover {
  color: #b6babe;
  cursor: pointer;
}

.navs nav ul li:focus {
  outline: none;
  font-size: large;
  color: #b6babe;
}

/*BADGES*/
#badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  height: fit-content;
  margin: 10px auto;
}

#badges span {
  margin: 5px;
  padding: 9px 10px;
  background-color: #0d6efc;
  font-size: 0.8rem;
  font-weight: 400;
  cursor: pointer;
  color: white;
}

#badges span:focus {
  transform: scale(1.1);
}

#badges .ingredients {
  background-color: #0d6efc;
}
#badges .equipments {
  background-color: #67d8a4;
}
#badges .ustensils {
  background-color: #ec6354;
}

#badges span svg {
  width: 18px;
  height: 18px;
  background-color: white;
  padding: 1px;
  border-radius: 25px;
  margin: 0 2px 0 4px;
}

path.ingredients {
  fill: #0d6efc;
}
path.equipments {
  fill: #67d8a4;
}
path.ustensils {
  fill: #ec6354;
}

#badges span:hover > svg path.deleteSvg {
  fill: #b6babe;
}

#badges span:hover {
  background-color: #b6babe;
  color: white;
}

/* BIG TABLET VERSION */
@media only screen and (min-width: 800px) {
  #main-search-section {
    width: 75%;
    max-width: none;
  }
}

@media only screen and (min-width: 950px) {
  #main-search-section {
    width: 75%;
    max-width: none;
  }

  #secondary-search-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    justify-content: start;
  }

  #secondary-search-section .input-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: none;
    max-width: none;
    width: fit-content;
    margin: 0px;
  }

  .inputAndButton {
    width: 140px;
    margin: 10px 0;
  }

  .inputAndButton input {
    width: inherit;
  }

  .s-search-btn {
    width: inherit;
  }

  /*input-group*/

  /*inputAndButton*/
  .inputAndButtonExtended {
    max-width: none;
    width: 400px;
    margin-right: 10px;
  }

  .inputBottomRadiusRemoval {
    width: 350px;
  }
  .buttonBottomRadiusRemoval {
    width: 50px;
  }

  .navs {
    width: 100%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navExtended {
    width: 100%;
    max-width: 400px;
    left: 1px;
  }

  .listExtended ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 1500px) {
  .inputAndButtonExtended {
    width: 670px;
  }

  .navExtended {
    max-width: 670px;
  }

  .listExtended ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
