/*MOBILE MAIN SEARCH*/
#main-search-section {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 10px auto;
  height: 55px;
  max-width: 380px;
}

#main-input {
  background-color: #e6e6e6;
}

#main-input:focus + #main-search-btn {
  color: #67d8a4;
  background-color: #e2e3e5;
}
#main-input:focus {
  background-color: #e2e3e5;
}

#main-input:focus::placeholder {
  color: transparent;
}

#main-input:placeholder-shown {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-search-btn {
  height: 55px;
  width: 55px;
  background-color: #e6e6e6;
}

#main-search-btn:hover {
  background-color: #67d8a4;
  color: white;
}

#main-search-btn svg {
  width: 25px;
  height: 25px;
}

/*MOBILE SECONDARY SEARCH*/
#secondary-search-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#secondary-search-section .input-group {
  width: 80%;
  min-width: 200px;
  margin: 5px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputAndButton {
  display: flex;
  width: 60%;
}

.inputAndButtonExtended {
  width: 100%;
  max-width: 350px;
}

.inputBottomRadiusRemoval {
  border-bottom-left-radius: 0 !important;
}

.buttonBottomRadiusRemoval {
  border-bottom-right-radius: 0 !important;
}

.inputAndButton:focus {
  outline: none;
}
.inputAndButton input {
  width: 75%;
  outline: none;
  min-width: 100px;
  border-radius: 3px 0 0 3px;
}

.s-search-btn {
  width: 25%;
  border: none;
  border-radius: 0 3px 3px 0;
}

.s-search-btn svg {
  width: 40px;
  height: 20px;
}

#secondary-search-section input::placeholder {
  color: white;
}

#secondary-search-section #input-ingredients:focus::placeholder {
  color: #9ec5fe;
}
#secondary-search-section #input-equipments:focus::placeholder {
  color: #e1f7ed;
}
#secondary-search-section #input-ustensils:focus::placeholder {
  color: #f7c1bb;
}

.up {
  transform: rotate(180deg);
}

.down {
  transform: rotate(0deg);
}

#ingredients-search input,
#ingredients-search button {
  background-color: #0d6efd !important;
}
#equipments-search input,
#equipments-search button {
  background-color: #67d8a4 !important;
}

#ustensils-search input,
#ustensils-search button {
  background-color: #ec6354;
}

/*NAVS LISTS OF INPUTS*/
.navs {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 60%;
}

.navs nav {
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 40px;
  border-radius: 5px;
}

.navExtended {
  width: 100%;
  max-width: 350px;
}

.listExtended {
  border-radius: 0px 0px 3px 3px !important;
}

#equipments-nav {
  background-color: #67d8a4 !important;
}

#ustensils-nav {
  background-color: #ec6354 !important;
}

.navs nav ul {
  display: none;
  padding: 0 12px;
  margin: 0;
  max-height: 60vh;
  overflow: scroll;
}

.navs nav ul li {
  width: 99%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: white;
  line-height: 1.6;
}

.navs nav ul li:hover {
  color: #b6babe;
  cursor: pointer;
}

/*BADGES*/
#badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  height: fit-content;
  margin: 10px auto;
}

#badges span {
  margin: 5px;
  padding: 7px 10px;
  background-color: #0d6efc;
  font-size: 0.9rem;
  font-weight: 400;
  cursor: pointer;
  color: white;
}

#badges .ingredients {
  background-color: #0d6efc;
}
#badges .equipments {
  background-color: #ec6354;
}
#badges .ustensils {
  background-color: #67d8a4;
}

#badges span svg {
  width: 18px;
  height: 18px;
  background-color: white;
  padding: 1px;
  border-radius: 25px;
  margin: 0 2px 0 4px;
}

path.ingredients {
  fill: #0d6efc;
}
path.equipments {
  fill: #ec6354;
}
path.ustensils {
  fill: #67d8a4;
}

#badges span:hover > svg path.deleteSvg {
  fill: #b6babe;
}

#badges span:hover {
  background-color: #b6babe;
  color: white;
}

/* BIG TABLET VERSION */

@media only screen and (min-width: 800px) {
  #secondary-search-section {
    display: flex;
    flex-direction: row;
    padding: 0 10%;
  }

  #secondary-search-section .input-group {
    width: 180px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputAndButton {
    width: 160px;
  }

  .inputAndButtonExtended {
    max-width: none;
    width: 200px;
  }

  .inputAndButton input {
    width: 160px;
  }

  .navs {
    width: 100%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navExtended {
    width: 100%;
    max-width: 450px;
    left: 1px;
  }
}

/*
@media only screen and (min-width: 800px) {
  #secondary-search-section {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
  }

  #ingredients-search {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  #equipments-search {
    grid-column-start: 5;
    grid-column-end: 6;
  }
  #ustensils-search {
    grid-column-start: 6;
    grid-column-end: 7;
  }

  .changeGrid {
    grid-column: 1/2;
  }

  #secondary-search-section .input-group {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputAndButton {
    width: 160px;
  }

  .inputAndButtonExtended {
    max-width: none;
    width: 200px;
  }

  .inputAndButton input {
    width: 160px;
  }

  .navs {
    width: 100%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navExtended {
    width: 100%;
    max-width: 450px;
    left: 1px;
  }
}


in index.js: 

let navParent = nav.parentNode;
navParent.classList.add("changeGrid");
let navParent = nav.parentNode;
navParent.classList.remove("changeGrid");
*/
